<h1>Index</h1>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><%= link_to (image_tag 'bibione.jpg'), '/bibbione'%></p>
      <h4>Bibione</h4>
    </div>
    <div class="col-sm">
      <p><%= link_to (image_tag 'paluda.jpg'), '/paluda'%></p>
      <h4>Paluda</h4>
    </div>
    <div class="col-sm">
      <p><%= link_to (image_tag 'jesolo (1).jpg'), '/jesolo'%></p>
      <h4>Jesolo</h4>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><%= link_to (image_tag 'bibione.jpg'), '/bibbione'%></p>
      <h4>Bibione</h4>
    </div>
  </div>
</div>