<h1>Index</h1>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <p><%= image_tag 'bibione.jpg'%></p>
      <h4>Bibione</h4>
    </div>
    <div class="col-sm">
      <p><%= image_tag 'paluda.jpg'%></p>
      <h4>Paluda</h4>
    </div>
    <div class="col-sm">
      <p><%= image_tag 'jesolo (1).jpg'%></p>
      <h4>Jesolo</h4>
    </div>
  </div>
</div>